<div class="header">
  <div class="bg-dark py-2">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-auto">
          <button class="btn btn-dark"><i class="bi bi-person me-2"></i>Войти</button>
        </div>

        <div class="col-auto">
          <button class="btn btn-primary">Новое объявление <i class="bi bi-plus ms-2"></i></button>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg border-bottom">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h3 class="header-logo">Доска объявлений</h3>
      </a>

      <div class="container row collapse navbar-collapse ms-3" id="navbarSupportedContent">
        <div class="navbar-nav col-lg-auto mb-2 mb-lg-0">
          <button
            type="button"
            class="btn btn-outline-primary">
              <i class="bi bi-list-nested me-2"></i>
              Все категории
          </button>
        </div>

        <div class="col px-0">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Поиск по объявлениям"
                aria-label="Search"
                aria-describedby="basic-addon1"
              >

              <button
                type="button"
                class="btn btn-primary"
              >
                Найти
                <i class="bi bi-search ms-2"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>
