.ad {
  &-title {
    font-weight: 600;
  }
  &-image {
    max-width: 100%;
  }
  &-button {
    border-radius: 4px;
    &-text {
      font-weight: 400;
    }
    &-icon {
      font-size: x-large;
    }
  }
}
