<p class="text-muted my-2">Город Категория</p>

<div class="row g-3">
  <div class="col-8">
    <h3 class="mb-2 ad-title">Macbook pro 13 2020 m1 8/256</h3>
    <img class="rounded ad-image" src="https://www.bu.edu/files/2021/10/Five-Funny-Cat-Videos-in-Honor-of-National-Cat-Day.jpg"
      alt="cats">
    <div class="row mt-3">
      <div class="rounded col-2"><img class="ad-image"
          src="https://www.bu.edu/files/2021/10/Five-Funny-Cat-Videos-in-Honor-of-National-Cat-Day.jpg" alt="">
      </div>
      <div class="rounded col-2"><img class="ad-image"
          src="https://www.bu.edu/files/2021/10/Five-Funny-Cat-Videos-in-Honor-of-National-Cat-Day.jpg" alt="">
      </div>
      <div class="rounded col-2"><img class="ad-image"
          src="https://www.bu.edu/files/2021/10/Five-Funny-Cat-Videos-in-Honor-of-National-Cat-Day.jpg" alt="">
      </div>
      <div class="rounded col-2"><img class="ad-image"
          src="https://www.bu.edu/files/2021/10/Five-Funny-Cat-Videos-in-Honor-of-National-Cat-Day.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="col">
    <h3 class="ad-title">80 0000 &#8381;</h3>
    <div class="d-grid">
      <button class="btn btn-primary btn-lg py-3">
        <h5 class="ad-button-text">
          <i class="bi bi-telephone-plus pe-2 ad-button-icon"></i>Показать номер телефона
        </h5>
      </button>
    </div>

    <div class="row row-cols-1 g-4 mt-3">
      <div class="col">
        <h4 class="ad-title">Адрес</h4>
        <p class="m-0 p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a class="text-decoration-none" href="">Открыть на карте<i class="bi bi-box-arrow-up-right ms-2"></i></a>
      </div>

      <div class="col">
        <h4 class="ad-title">Описание</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum accusamus dicta eius assumenda mollitia
          consequatur quis laudantium in ullam natus aliquam ipsum hic vitae adipisci quasi veniam, unde delectus
          numquam.</p>
      </div>
    </div>

  </div>
</div>
